<div class="pagina">
  
  <div class="nav-buttons">
    <button type="button" class="secundario" (click)="irAOrganizacion()">
      Soy una organización deportiva
    </button>
    <button type="button" class="secundario" (click)="irAlLogin()">
      Iniciar sesión
    </button>
  </div>
  <div class="form-container">
    <h2>Registrar Administrador</h2>

    <form #clienteForm="ngForm" (ngSubmit)="registrarCliente(clienteForm)">
      
      <!-- Nombre -->
      <input
        type="text"
        name="nombre"
        placeholder="Nombre"
        [(ngModel)]="cliente.nombre"
        required
        #nombre="ngModel"
      />
      <div *ngIf="clienteForm.submitted && nombre.invalid" class="error">
        El nombre es obligatorio.
      </div>

      <!-- Username -->
      <input
        type="text"
        name="username"
        placeholder="Username"
        [(ngModel)]="cliente.username"
        required
        #username="ngModel"
      />
      <div *ngIf="clienteForm.submitted && username.invalid" class="error">
        El username es obligatorio.
      </div>

      <!-- Contraseña -->
       <div class="input-group">
        <input
          [type]="showPassword ? 'text' : 'password'"
          name="contrasena"
          placeholder="Contraseña"
          [(ngModel)]="cliente.contrasena"
          required
          minlength="6"
          #contrasena="ngModel"
        />
        <button
          type="button"
          class="eye-btn"
          (click)="togglePassword()"
          tabindex="-1"
        >
          <fa-icon [icon]=" showPassword ? faEyeSlash : faEye "></fa-icon>
        </button>
      </div>
      <div *ngIf="clienteForm.submitted && contrasena.invalid" class="error">
        La contraseña debe tener mínimo 6 caracteres.
      </div>

      <div class="input-group">
        <input
          [type]="showConfirmPassword ? 'text' : 'password'"
          name="confirmarContrasena"
          placeholder="Confirmar Contraseña"
          [(ngModel)]="cliente.confirmarContrasena"
          required
          #confirmarContrasena="ngModel"
        />
        <button
          type="button"
          class="eye-btn"
          (click)="toggleConfirmPassword()"
          tabindex="-1"
        >
            <fa-icon [icon]=" showConfirmPassword ? faEyeSlash : faEye "></fa-icon>
          </button>
      </div>
      <div *ngIf="clienteForm.submitted && !contrasenasCoinciden()" class="error">
          Las contraseñas no coinciden.
      </div>


      <!-- Prefijo Teléfono -->
      <input
        type="text"
        name="prefijoTelefono"
        placeholder="Prefijo Teléfono (ej: +57)"
        [(ngModel)]="cliente.prefijoTelefono"
        required
        pattern="^\+\d{2,3}$"
        #prefijoTelefono="ngModel"
      />
      <div *ngIf="clienteForm.submitted && prefijoTelefono.invalid" class="error">
        Formato inválido (ej: +57).
      </div>

      <!-- Teléfono -->
      <input
        type="text"
        name="telefono"
        placeholder="Teléfono"
        [(ngModel)]="cliente.telefono"
        required
        pattern="^\d+$"
        #telefono="ngModel"
      />
      <div *ngIf="clienteForm.submitted && telefono.invalid" class="error">
        El teléfono debe contener solo números.
      </div>

      <!-- Botón -->
      <button type="submit" [disabled]="clienteForm.invalid">
        Registrar 
      </button>
    </form>

    <div *ngIf="cargando" class="mensaje cargando">⏳ Registrando...</div>
    <div *ngIf="mensaje && !cargando" class="mensaje">{{ mensaje }}</div>
  </div>
</div>
