<div class="pagina">
  <!-- Botón de administración -->
  <div class="nav-buttons">
    <button class="secundario" (click)="irAAdmin()">Administración</button>
  </div>

  <!-- Contenedor de organizaciones -->
  <div class="organizaciones-container">
    <div
      class="card-org"
      *ngFor="let org of organizaciones"
      [style.background-image]="'url(' + org.imagen + ')'"
      (click)="seleccionarOrg(org)"
      [attr.aria-label]="org.nombre"
      role="button"
      tabindex="0"
    >
      <div class="overlay">{{ org.nombre }}</div>
    </div>
  </div>
</div>
