<div class="dashboard">
  <aside class="menu-lateral">
    <h3>Catálogo</h3>
    <ul>
      <li>🏠 Inicio</li>
      <li>📋 clientes</li>
      <li>🎾 Canchas</li>
      <li>🕒 Reservas</li>
      <li>⚙️ Ajustes</li>
    </ul>
  </aside>

  <main class="contenido">
    <h2>Bienvenido, Administrador 👋</h2>
    <div class="tarjetas">
      <div class="tarjeta">
        <!-- Sólo este “Módulo Clientes” es clicable -->
        <a routerLink="/registrar">📋 Registrar Administrador</a>
      </div>
      <div class="tarjeta">🎾 Registrar Canchas</div>
      <div class="tarjeta">🕒 Módulo Reservas</div>
    </div>
  </main>
</div>