* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* 🔧 Fondo global y eliminación de márgenes del body */
body {
  margin: 0; /* ❗ importante */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  font-family: Arial, sans-serif;
  height: 100vh;
  width: 100%;
  overflow-x: hidden;
}